#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

div {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

.posts-list {
  padding: 0;

  list-style: none;
}

.post {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 640px;
  padding: 16px;
  margin-bottom: 12px;
  
  border: 1px solid #eeeeee;
}

.post__header {
  display: flex;
  gap: 20px;
}

.post__text {
  font-size: 18px;
}

.post__header__user-avatar {
  border-radius: 50%;
}

.post__header__info__date {
  font-size: 16px;
}

.post__close {
  position: absolute;
  right: 4px;
  top: -10px;

  color: #bcbcbc;
  font-size: 32px;

  rotate: 45deg;
  cursor: pointer;
}

.post__btns {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.btn {
  width: fit-content;
  padding: 2px 20px 4px;

  color: #000000;
  font-size: 18px;
  text-decoration: none;

  background-color: unset;

  border: 1px solid #69bff9;
}

.post__edit-btn {
  border-color: #00c906;
}

.post__delete-btn {
  border-color: #ff2a2a;
}

.form {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 640px;
}

textarea {
  max-width: 620px;
  margin-top: 12px;
  margin-bottom: 12px;

  border-color: #eeeeee;
  
  resize: none;
}
